@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

label,
input {
  padding: 0.25em 0;
  text-align: left;
}

h1 {
  font-size: 1.5em;
}

h1,
p {
  color: #333;
}

.container {
  text-align: center;
  margin: auto;
  margin-top: 5px;
  padding: 0.5em;
  max-width: 600px;
  border: 1px solid lightblue;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 8px;
  font-weight: 500;
  cursor: pointer;
}

.btn-calc {
  margin-top: 0.5em;
  padding: 0.3em;
  width: 120px;
}

.read-only {
  background-color: lightgrey;
}

.calc-percent {
  display: flex;
  justify-content: space-around;
}
